.App {
  text-align: center;
}

.text_input {
  border: 3.5px outset black;
  background-color: #77ff4b;
  font-size: larger;
  outline: 0;
  height: 35px;
  width: 275px;
  position: relative;
  top: 2px;
  right: 10px;
}

form {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  width: 600px;
}
li {
  display: flex;
  justify-content: center;
}

.todo_txt {
  font-size: 24px;
  font-weight: bold;
  align-self: flex-start;
  position: relative;
  top: 10px;
}

.icons {
  margin-left: auto;
}

.TodoList {
  text-align: center;
  display: flex;
  justify-content: center;
}
